# (Kaggle)鐵達尼生存預測
完成剩餘的八種 類型 x 操作組合 (In[6]~In[13], Out[6]~Out[13])
思考何種特徵類型, 應該最複雜

In [72]:

import pandas as pd
import numpy as np

#讀取訓練及測試資料
data_path = 'desktop/Part02/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')
print(df_train.shape)
print(df_test.shape)

(891, 12)
(418, 11)

In [73]:
#資料重組成為預測用格式
train_Y = df_train['Survived']
ids = df_test['PassengerId']
#print(train_Y)
#print(ids)
#去掉’PassengerId','Survived‘取列資料
df_train = df_train.drop(['PassengerId','Survived'],axis=1)
df_test = df_test.drop(['PassengerId'],axis=1)
#合併兩資料
df = pd.concat([df_train,df_test])
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [70]:
#了解資料欄位類型與類型數量  新增索引號
dtype_df = df.dtypes.reset_index()
#print(dtype_df)
#將dtype_df 轉變為＝> Index(['Count', 'Column Type'], dtype='object'),暫時轉變為'Count', 'Column Type' 兩列
dtype_df.columns = ['Count','Column Type']
#print(dtype_df.columns)
#                   取出分組類別                      
dtype_df = dtype_df.groupby('Column Type').aggregate('count').reset_index()
#成為數組型態
dtype_df
#print(dtype_df)

  Column Type  Count
0       int64      3
1     float64      2
2      object      5

In [87]:
#將各類型數據分類
int_features = []
float_features = []
object_features = []
for dtype,feature in zip(df.dtypes,df.columns):
    if dtype == 'float64':
        float_features.append(feature)
    elif dtype == 'int64':
        int_features.append(feature)
    else:
        object_features.append(feature)

print(f'{len(int_features)} Integer Features:{int_features}\n')
print(f'{len(float_features) }Float Features:{float_features}\n')
print(f'{len(object_features) }Object Features:{object_features}\n')

3 Integer Features:['Pclass', 'SibSp', 'Parch']

2Float Features:['Age', 'Fare']

5Object Features:['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

In [91]:
#作業1
#int特徵
#平均值
print(df[int_features].mean())
print(df[int_features].max())
#代表有返回數量的相異值
print(df[int_features].nunique())

Pclass    2.294882
SibSp     0.498854
Parch     0.385027
dtype: float64
Pclass    3
SibSp     8
Parch     9
dtype: int64
Pclass    3
SibSp     7
Parch     8
dtype: int64

In [93]:
#作業1
#float特徵
print(df[float_features].mean())
print(df[float_features].max())
print(df[float_features].nunique())

Age     29.881138
Fare    33.295479
dtype: float64
Age      80.0000
Fare    512.3292
dtype: float64
Age      98
Fare    281
dtype: int64

In [95]:
#作業1
#object特徵
print(df[object_features].mean()) 因為不是連續數值,返回空值（浮點型態）

Series([], dtype: float64)

In [97]:
#作業1
#object特徵
print(df[object_features].max())

#返回編碼值,目前無分析上的意義

Name      van Melkebeke, Mr. Philemon
Sex                              male
Ticket                      WE/P 5735
dtype: object

In [98]:
#作業1
#object特徵
print(df[object_features].nunique())
#看名出是否有同名,是否票號重複,艙等狀態及登船裝態

Name        1307
Sex            2
Ticket       929
Cabin        186
Embarked       3
dtype: int64

#作業2思考一下，試著舉出今天五種類型以外的一種或多種資料類型，你舉出的新類型是否可以歸在三大類中的某些大類? 
#所以三大類特徵中，哪一大類處理起來應該最複雜?

Ans:目前可以想到的有 文字類型數據應可對應相關int型態編碼,圖片類型數據,語音,時間及日期等數據應可對應相關float型態編碼.