# Day_006_HW
仿照範例進行Ｏne Hot Encoding 將指定資料進行編碼

In [42]:
import os
import numpy as np
import pandas as pd

In [43]:
#設定 data_path, 並讀取 app_train
#不知道為啥不能用./
dir_data = 'desktop/data'
f_app_train = os.path.join(dir_data,'application_train.csv')
app_train = pd.read_csv(f_app_train)
#app_train.head()
app_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

In [44]:
#檢視資料中各類型資料
app_train.dtypes.value_counts()

float64    65
int64      41
object     16
dtype: int64

In [45]:
#將下列部分資料片段 sub_train  並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化
#使用Label Encoding

sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head(10)

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY
5                  WEDNESDAY
6                     SUNDAY
7                     MONDAY
8                  WEDNESDAY
9                   THURSDAY

In [48]:
#篩選獨熱編碼類別
from sklearn.preprocessing import LabelEncoder

LE_st = LabelEncoder()
#提供需原標籤值的進行替換編碼
LE_st.fit(['MONDAY','TUESDAY','WEDNESDAY','THURSDAY','FRIDAY','SATURDAY','SUNDAY' ])
#得到轉換資料
ST = LE_st.transform(sub_train)

In [53]:
#因為上述產生警告,依據警告 告知是用哪個樣本以及哪個類別進獨熱編碼
LE_ST = pd.DataFrame(ST,columns=(['WEEKDAY_APPR_PROCESS_START']))
LE_ST.head()

   WEEKDAY_APPR_PROCESS_START
0                           6
1                           1
2                           1
3                           6
4                           4

In [69]:
#被指定值設定1,其他為0
sub_train = pd.get_dummies(sub_train)
print(sub_train['WEEKDAY_APPR_PROCESS_START_WEDNESDAY'].head())

0    1
1    0
2    0
3    1
4    0
Name: WEEKDAY_APPR_PROCESS_START_WEDNESDAY, dtype: uint8

In [72]:
#獨熱標籤後樣本型態
sub_train.head(10)

,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,0
2,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0
5,0,0,0,0,0,0,1
6,0,0,0,1,0,0,0
7,0,1,0,0,0,0,0
8,0,0,0,0,0,0,1
9,0,0,0,0,1,0,0